<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />
    <title>UWCarpool ♥ Settings</title>
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Loading CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/picker/default.css" id="theme_base">
    <link rel="stylesheet" href="css/picker/default.date.css" id="theme_date">
    <link rel="stylesheet" href="css/picker/default.time.css" id="theme_time">

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    
    <script src="js/lib/jquery-2.0.3.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/moment.min.js"></script>
    <script src="js/forms.js"></script>
    <script src="js/shadow.js"></script>

    <script>
      data={user:<?=$view['user']?json_encode($view['user']):"null"?>}
      $(function(){
        $("#settingsModal").modal();
        updateShadow();
      });
      function submitNewProfilePic(){
        var formData = new FormData($('.profilePicForm').get(0));
        $.ajax({
            url: '/post',  //Server script to process data
            type: 'POST',
            dataType:'json',
            success: function(json){
              if(json.success==1){
                $(".profilePic").attr('src',json.data.profilePicture);
              }
            },
            error: function(){
            },
            // Form data
            data: formData,
            //Options to tell jQuery not to process data or worry about content-type.
            processData: false,
            cache: false,
            contentType: false,
        });
      }
    </script>
    
  </head>
  <body>

      <div class="modal" id="settingsModal" data-backdrop="false" data-show="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content main">
            <div class="modal-header">
              <h4 class="modal-title" >Settings</h4>
            </div>
            <div class="modal-body noPadding">
              <?php if(!$view['user']->emailverified):?><div class="alert alert-warning">Please verify your email address.<a href="/resendEmail" class="alert-link pull-right">Resend email</a></div>
              <?php endif; ?>

              <?php if($view['saved']):?>
                <div class="alert alert-info" id="saveMsg"><strong>Save successful</strong></div>
                <script>
                  setTimeout(function(){$("#saveMsg").fadeOut(updateShadow)},2000);
                </script>
              <?php endif;?>
              <?php if($view['error']):?>
                <div class="alert alert-danger"><strong><?=$view['error']?></strong></div>
              <?php endif;?>

              <div class='sidebar col-sm-4'>
                  <div class="profilePicWrapper">
                    <img class="profilePic" src="<?=$view['user']->profilePicture?$view['user']->profilePicture:"/images/no_profile.png"?>" />
                    <button class="changeProfilePic" onclick='$("#profilePicFileInput").click()'><i class="fa fa-pencil"></i><?=$view['user']->profilePicture?" Change Picture":" Upload Picture"?></button>
                    <form class="profilePicForm" action="/post" method="POST" enctype="multipart/form-data">
                      <input type="hidden" name="model" value="User" />
                      <input type="hidden" name="func" value="changeProfilePicture" />
                      <input type="hidden" name="user_id" value="<?=$view['user']->id?>" />
                      <input type="file" name="profilePicture" id="profilePicFileInput" onchange="submitNewProfilePic()" />
                    </form>
                    <span class="userName"><?=$view['user']->firstname." ".$view['user']->lastname?></span>
                  </div>
                  <ul class="nav nav-pills nav-stacked settingsNav">
                    <li class="<?=$view['page']=='general'?"active":""?>"><a href="/settings"><i class="fa fa-fw fa-user"></i> General</a></li>
                    <li class="<?=$view['page']=='password'?"active":""?>"><a href="/settings/password"><i class="fa fa-fw fa-pencil-square"></i> Password</a></li>
                    <li class="<?=$view['page']=='vehicle'?"active":""?>"><a href="/settings/vehicle"><i class="fa fa-fw fa-truck"></i> Vehicle</a></li>
                    <li class="<?=$view['page']=='facebookconnect'?"active":""?>"><a href="/settings/facebookconnect"><i class="fa fa-fw fa-facebook-square"></i> Facebook Connect</a></li>
                    <li class="<?=$view['page']=='about'?"active":""?>"><a href="/settings/about"><i class="fa fa-fw fa-info-circle"></i> About UWCarpool</a></li>
                  </ul>
              </div>
              <div class="tab-content col-sm-8">
                <?php if($view['page']=='password'):?>

                <?php elseif($view['page']=='vehicle'):?>

                <?php elseif($view['page']=='facebookconnect'):?>

                <?php elseif($view['page']=='about'):?>

                <?php else:?>
                <div id="general">
                  <form role="form" method="POST" action="/settings/general" data-trigger='checker'>
                    <div class="col-sm-6">
                    <div class="form-group">
                      <label for="general-firstname">First Name</label>
                      <input type="text" class="form-control" data-check="notempty" id="general-firstname" name='firstname' placeholder="First Name" value="<?=$view['user']->firstname?>"/>
                    </div></div>
                    <div class="col-sm-6">
                    <div class="form-group">
                      <label for="general-lastname">Last Name</label>
                      <input type="text" class="form-control" data-check="notempty" id="general-lastname" name='lastname' placeholder="Last Name" value="<?=$view['user']->lastname?>"/>
                    </div></div>
                    <p class="help-block col-sm-12">Please user your real name so people knows who is who. It does not have to be legal name.</p>
                    <div class="form-group col-sm-12">
                      <label for="general-email">Email address</label>
                      <input type="text" class="form-control" data-check="notempty email" id="general-email" name='email' placeholder="Email"  value="<?=$view['user']->email?>"/>
                      
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" /> Let UWCarpool send you the lasted promotion infomation.
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <label for="general-cellphone">Cell phone</label>
                      <input type="text" class="form-control" id="general-cellphone" data-check="numeric" name='cellphone' value="<?=$view['user']->cellphone?>"/>
                    </div>
                    <div class="clearfix"></div>
                    <button type="submit" class="btn btn-primary btn-lg submitBtn">Save</button>
                  </form>
                  <script>
                    $("#general form input").keydown(function(){
                      $(".submitBtn").addClass('show');
                    })
                  </script>
                </div>
                <?php endif;?>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>

  </body>
</html>

<!--
  <?
    echo "debug _POST---<br>";print_r($view);echo "<br><br>debug _SESSION---<br>";print_r($_SESSION);
  ?>
-->